version 12.4
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname r1_tylskya
!
boot-start-marker
boot-end-marker
!
logging message-counter syslog
enable secret 5 $1$NhMs$.WnGNuk7HAm0C0c0QNWG5.
!
aaa new-model
!
!
aaa authentication login default local
aaa authentication ppp default local
aaa authorization network default local 
!
!         
aaa session-id common
!
dot11 syslog
ip source-route
!
!
ip cef
!
!
ip domain name naocompany.local
ip name-server 78.110.49.2
ip name-server 195.54.192.33
no ipv6 cef
multilink bundle-name authenticated
!
!
!
!
vpdn enable
!
vpdn-group 1
!
vpdn-group VPN-1
! Default PPTP VPDN group
 accept-dialin
  protocol pptp
  virtual-template 1
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!         
!
voice-card 0
!
!
!
!
!
username jbi privilege 15 secret 5 $1$RvHA$pdOLOrHrhY4pJ2Ueh69kW/
archive
 log config
  logging enable
  hidekeys
!
!
ip ssh authentication-retries 2
ip ssh logging events
ip ssh version 2
!
!
!
!
interface Tunnel0
 description to_varshavskay
 ip address 10.0.0.1 255.255.255.252
 tunnel source 78.110.48.170
 tunnel destination 81.23.5.81
!
interface Tunnel1
 description to_sklad_tulskya
 ip address 10.1.1.1 255.255.255.252
 tunnel source 78.110.48.170
 tunnel destination 178.238.115.38
!
interface Tunnel2
 description to_pfm
 ip address 10.3.3.2 255.255.255.252
 tunnel source 78.110.48.170
 tunnel destination 78.110.48.222
!
interface Tunnel3
 description perovo
 ip address 10.4.4.1 255.255.255.252
 tunnel source 78.110.48.170
 tunnel destination 109.188.83.47
!
interface FastEthernet0/0
 description WAN-Hosting Telesystems
 ip address 78.110.48.170 255.255.255.248
 ip verify unicast reverse-path
 no ip redirects
 no ip proxy-arp
 ip nat outside
 ip virtual-reassembly
 duplex auto
 speed auto
 no cdp enable
!
interface FastEthernet0/1
 ip address 192.168.0.1 255.255.255.0
 ip verify unicast reverse-path
 no ip redirects
 no ip proxy-arp
 ip nat inside
 ip virtual-reassembly
 duplex auto
 speed auto
 no cdp enable
!
interface FastEthernet0/2/0
 switchport access vlan 10
!
interface FastEthernet0/2/1
 switchport access vlan 10
!
interface FastEthernet0/2/2
 switchport access vlan 10
!
interface FastEthernet0/2/3
!
interface Vlan1
 no ip address
!
interface Vlan10
 description LAN
 ip address 78.110.48.21 255.255.255.252
 ip nat inside
 ip virtual-reassembly
!
ip local pool VPN-POOL-1 192.168.0.21 192.168.0.40
ip forward-protocol nd
ip route 0.0.0.0 0.0.0.0 78.110.48.169
ip route 10.10.3.0 255.255.255.0 192.168.0.200
ip route 192.168.1.0 255.255.255.0 Tunnel0
ip route 192.168.3.0 255.255.255.0 Tunnel2
ip route 192.168.5.0 255.255.255.0 Tunnel3
ip route 192.168.40.0 255.255.255.0 Tunnel1
no ip http server
no ip http secure-server
!
!
ip dns server
ip nat pool poolSTAND 192.168.0.20 192.168.0.20 netmask 255.255.255.0 type rotary
ip nat inside source list NAT interface FastEthernet0/0 overload
ip nat inside source static tcp 192.168.0.136 25 78.110.48.170 25 extendable
ip nat inside source static tcp 192.168.0.12 80 78.110.48.170 80 extendable
ip nat inside source static tcp 192.168.0.136 110 78.110.48.170 110 extendable
ip nat inside source static tcp 192.168.0.136 143 78.110.48.170 143 extendable
ip nat inside source static tcp 192.168.0.136 587 78.110.48.170 587 extendable
ip nat inside source static tcp 192.168.0.136 993 78.110.48.170 993 extendable
ip nat inside source static tcp 192.168.0.144 22 78.110.48.170 2222 extendable
ip nat inside source static tcp 192.168.0.40 3389 78.110.48.170 3389 extendable
ip nat inside source static tcp 192.168.0.20 5060 78.110.48.170 5060 extendable
ip nat inside source static udp 192.168.0.20 5060 78.110.48.170 5060 extendable
ip nat inside source static tcp 192.168.0.111 5900 78.110.48.170 5900 extendable
ip nat inside source static tcp 192.168.0.11 80 78.110.48.171 80 extendable
ip nat inside source static tcp 192.168.0.74 80 78.110.48.172 80 extendable
ip nat inside destination list aclSTAND pool poolSTAND
!
ip access-list extended NAT
 permit ip 192.168.0.0 0.0.0.255 any
ip access-list extended aclSTAND
 permit udp any host 78.110.48.170 range 10000 20000
!
access-list 5 permit 192.168.1.111
access-list 5 permit 192.168.0.74
!
!
snmp-server community public RO 5
snmp-server location Moscow
!
control-plane
!
!
!
!
!
!         
!
!
!
line con 0
line aux 0
line vty 0 4
 privilege level 15
 transport input ssh
!
scheduler allocate 20000 1000
end
